<div class="row mb-4">

    <div class="col-md-6">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h4>Total archivos en NAS</h4>
                <h2>@Model.TotalArchivos</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-warning text-dark">
            <div class="card-body">
                <h4>Archivos duplicados por nombre</h4>
                <h2>@Model.TotalDuplicadosNombre</h2>
            </div>
        </div>
    </div>

</div>
