<div class="row mb-4">

    <div class="col-md-6">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h4>Total archivos en NAS</h4>
                <h2>@Model.TotalArchivos</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-warning text-dark">
            <div class="card-body">
                <h4>Archivos duplicados por nombre</h4>
                <h2>@Model.TotalDuplicadosNombre</h2>
            </div>
        </div>
    </div>

</div>


<form method="post" asp-action="Buscar">

    <div class="row mb-3">

        <div class="col-md-4">
            <label>Nombre Archivo</label>
            <input name="NombreArchivo" class="form-control" />
        </div>

        <div class="col-md-4">
            <label>Prefijo</label>
            <input name="Prefijo" class="form-control" />
        </div>

        <div class="col-md-4">
            <label>Número Factura</label>
            <input name="NumeroFactura" class="form-control" />
        </div>

    </div>

    <button type="submit" class="btn btn-primary">
        Buscar
    </button>

</form>