<div class="row mb-4">

    <div class="col-md-6">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h4>Total archivos en NAS</h4>
                <h2>@Model.TotalArchivos</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-warning text-dark">
            <div class="card-body">
                <h4>Archivos duplicados por nombre</h4>
                <h2>@Model.TotalDuplicadosNombre</h2>
            </div>
        </div>
    </div>

</div>


<form method="post" asp-action="Buscar">

    <div class="row mb-3">

        <div class="col-md-4">
            <label>Nombre Archivo</label>
            <input id="nombreArchivo" name="NombreArchivo" class="form-control" />
        </div>

        <div class="col-md-4">
            <label>Prefijo</label>
            <input id="prefijo" name="Prefijo" class="form-control" />
        </div>

        <div class="col-md-4">
            <label>Número Factura</label>
            <input id="numeroFactura" name="NumeroFactura" class="form-control" />
        </div>

    </div>

    <button type="submit" class="btn btn-primary">
        Buscar
    </button>

</form>



<hr />

<h4>Procesar listado de número de facturas</h4>

<form method="post" enctype="multipart/form-data" asp-action="ProcesarListado">

    <div class="row">

        <div class="col-md-4">

            <label class="form-label">Archivo TXT / CSV</label>

            <input type="file" name="Archivo" class="form-control" required />

        </div>

       

    </div>
    <br />

    <button type="submit" class="btn btn-success">
        Procesar listado
    </button>
    <button type="submit"
            formaction="@Url.Action("OrganizarRadicacion", "Home")"
            class="btn btn-primary">
        Organizar para radicar
    </button>
</form>



<script>

    const nombre = document.getElementById("nombreArchivo");
    const prefijo = document.getElementById("prefijo");
    const factura = document.getElementById("numeroFactura");

    function controlarCampos() {

        if (nombre.value.trim() !== "") {
            prefijo.disabled = true;
            factura.disabled = true;
        }
        else if (prefijo.value.trim() !== "") {
            nombre.disabled = true;
            factura.disabled = true;
        }
        else if (factura.value.trim() !== "") {
            nombre.disabled = true;
            prefijo.disabled = true;
        }
        else {
            nombre.disabled = false;
            prefijo.disabled = false;
            factura.disabled = false;
        }

    }

    nombre.addEventListener("input", controlarCampos);
    prefijo.addEventListener("input", controlarCampos);
    factura.addEventListener("input", controlarCampos);

</script>

<input type="file" id="selectorCarpeta" webkitdirectory directory multiple style="display:none">

<script>

    function seleccionarCarpeta() {

        document.getElementById("selectorCarpeta").click();

    }

    document.getElementById("selectorCarpeta").addEventListener("change", function(e) {

        if (e.target.files.length > 0) {

            const ruta = e.target.files[0].webkitRelativePath.split('/')[0];

            document.getElementById("rutaDestino").value = ruta;

        }

    });

</script>